@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Open+Sans&family=Raleway:wght@400;700&display=swap');

body{
    margin: 0;
    font-family: open sans,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


h2,h3{
    font-family: 'Arvo', serif;
    font-weight: 700;
    margin: 0;
}
a {
    text-decoration: none;
}

#testimonial {
    background: #F63854;
    text-align: center;
}

.section-padding {
    padding: 60px 0;
}

.container {
    max-width: 1140px;
    margin: auto;
}


.item {}

.testimonial-item {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
}

p {
    color: #222;
}

.img-thumb {
    margin: 15px;
    text-align: center;
}

.img-thumb img {
    width: inherit !important;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    padding: 5px;
}

.info {}

h2 a {
    color: #333;
}
h3 a {
    color: #222;
}

/* .content {}

.description {} */

.star-icons span {
    color: #F63854;
}